<section class="hero-wrapper">
  <section class="text">
    <div>
      <p class="quicksand">AI-Powered recipe generator</p>
      <h1 class="ubuntu">Code à Cuisine</h1>
    </div>

    <div class="btn quicksand">Get Started</div>

    <div class="cookbook">
      <p class="ubuntu">Hungry for inspiration?</p>
      <div>
        <p class="quicksand">Go to cookbook</p>
        <div class="arrow-wrapper"></div>
      </div>
    </div>
  </section>

  <section class="image">
    <img src="/img/plate1.svg" alt="" class="stack-img img1"/>
    <img src="/img/plate2.svg" alt="" class="stack-img img2"/>
    <img src="/img/plate3.svg" alt="" class="stack-img img3"/>
  </section>

</section>
