@use "../../../styles.scss" as *;

.hero-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $bgGreen;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  color: $creme;
  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
    margin-bottom: 64px;
    > p:nth-child(1) {
      all: unset;
      font-size: 48px;
      font-weight: 600;
    }
  }
}

h1 {
  all: unset;
  font-size: 104px;
  font-weight: 700;
  font-style: bold;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 60px;
  gap: 10px;
  padding: 16px 26px;
  background-color: $creme2;
  color: $green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 300px;
  &:hover {
    cursor: pointer;
    background-color: $cremeHover;
    font-size: 26px;
  }
}

.cookbook {
  display: flex;
  gap: 16px;
  align-items: center;
  > p:nth-child(1) {
    font-size: 32px;
    font-weight: 500;
    line-height: 104%;
    color: $creme2;
  }
  > div:nth-child(2) {
    display: flex;
    align-items: center;
    padding: 16px 26px;
    &:hover {
      background-color: $cremeHover2;
      cursor: pointer;
      > .arrow-wrapper {
        animation-name: arrowAnimation;
        animation-duration: 1s;
        animation-iteration-count: 1000000;
        animation-timing-function: ease-in-out;
      }
    }
    > p:nth-child(1) {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.arrow-wrapper {
  width: 24px;
  height: 20px;
  margin-left: 16px;
  background-image: url("/img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes arrowAnimation {
  0% {
    margin-left: 8px;
  }
  20% {
    margin-left: 12px;
  }
  60% {
    margin-left: 16px;
  }
  80% {
    margin-left: 12px;
  }
  100% {
    margin-left: 8px;
  }
}

.image {
  position: relative;
  width: 480px;
  margin: 0 auto;
}

.stack-img {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  transition: 0.3s ease;
}

.img1 {
  top: 0;
  z-index: 1;
}

.img2 {
  top: 30%;
  z-index: 2;
}

.img3 {
  bottom: 0;
  z-index: 3;
}
