@use "../../../styles.scss" as *;

header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 40px;
  margin-left: 86px;
}

.logo-area {
  display: flex;
  height: 48px;
  background-color: transparent;
  gap: 8px;
  > div:nth-child(1) {
    width: 50px;
    background-image: url("/img/cookHead.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  >div:nth-child(2) {
    width: 87px;
    background-image: url("/img/codeACuisine.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
